@import '~bootstrap/dist/css/bootstrap.min.css';

.navbar-light{
  background-color: white !important;
}
.text {
  color: hsl(209, 20%, 38%) !important;
}

.navBoton {
  background-color:#0275d8 !important;
}